:root {
  --primary-color: #0F7BDC;
  --secondary-color: #3293EA;
  --third-color: #57A9F2;
  --fourth-color: #0065c4;
  --fifth-color: #B0D8FB;
  --sixth-color: #0f5897;
}

[data-theme="dark"] {
  --primary-color: #0A0A0A; /* Almost pure black */
  --secondary-color: #1A1A1A; /* Dark charcoal */
  --third-color: #2B2B2B; /* Slightly lighter black */
  --fourth-color: #3C3C3C; /* Dark gray */
  --fifth-color: #4D4D4D; /* Medium-dark gray */
  --sixth-color: #060606; /* Deep black */  
}

/* General */
body, html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: 5px;
  width: 500px;  /* max: 800px */
  height: 700px; /* max: 600px */
}

body {
	background-color: var(--primary-color);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a {
  color: white;
  text-decoration-style: dotted;
}

a:hover {
  color: white;
  text-decoration: underline;
}

/**************/
/* Navigation */
/**************/

.navigation {
  background-color: var(--secondary-color);
  border-bottom: 1px solid white;
}

.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}

.navigation nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navigation nav a:hover {
  text-decoration: underline;
}

.navigation nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation nav div h1 {
  margin-right: 10px;
  user-select: none;
}

.navigation nav span {
  margin-left: 10px;
  margin-right: 15px;
}

.nav-icon {
  width: 32px;
  user-select: none;
  -moz-user-drag: none;
}

/*********/
/* Notes */
/*********/

.notes h4 {
  margin-bottom: .5rem;
}

.noteText {
	border: solid 3px var(--third-color);
	background-color: var(--secondary-color);
	width: 50vw;
  margin-bottom: 5em;
	padding: 5px;
  letter-spacing: 0px;
	font-size: 1.2em;
	color: white;
  field-sizing: content;
}

.noteText:focus {
  outline: 1px solid white;
}

/**********/
/* Search */
/**********/

.searchText {
	border: solid 5px var(--third-color);
	background-color: var(--secondary-color);
	padding: 5px;
	font-size: 1.2em;
	text-align: center;
  text-overflow: ellipsis;
	color: white;
}

.searchText.prefix {
	text-transform: uppercase;
	font-weight: bold;
}

.searchText.carrier {
  letter-spacing: .1px;
  font-size: 1em;
}

.searchText::placeholder {
	opacity: .8;
  font-size: 1rem;
	text-transform: none;
  color: white;
	font-weight: 500;
}

.searchText:focus {
  outline: 1px solid white;
  outline-offset: -1px;
}

.search-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.search-wrapper > div {
  width: 100%;
}

.search-type {
	width: 50%;
	padding: 7.5px;
	border: none;
	background-color: var(--sixth-color);
	color: white;
	cursor: pointer;
  text-decoration: underline;
  border-left: 1px solid var(--sixth-color);
  border-bottom: 1px solid var(--sixth-color);
  border-right: 1px solid var(--sixth-color);
}

.search-type.active {
	background-color: var(--third-color);
  font-weight: bold;
  text-decoration: none;
  cursor: default;
  border-left: 1px solid var(--third-color);
  border-bottom: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
}

.search-type:focus {
  outline: 1px solid white;
  outline-offset: -1px;
}

.carrierSearchResults {
  list-style: none;
  padding-left: 0;
  max-height: 45vh;
  user-select: none;
  overflow-y: auto;
}

.search-results.prefix {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-results.carrier {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 90%;
  margin: auto auto;
}

.search-results .carrier {
  padding: 5px 10px;
  background-color: var(--third-color);
  cursor: pointer;
}

.search-results .carrier:hover {
  background-color: var(--secondary-color); 
}

.search-results .carrier:focus {
  background-color: var(--secondary-color); 
  outline: none;
}

.carrier-card {
  list-style: none;
  width: 90%;
}

.carrier-card h3 {
  text-align: center;
}

.carrier-card h4 {
  margin-bottom: .5rem;
}

.carrier-urls a {
  text-decoration: underline;
}

.report-issue {
  display: flex;
  font-family: monospace;
  margin-top: 3em;
  font-size: .9em;
}

.report-issue a {
  text-decoration-line: none;
}

.report-issue a:hover {
  text-decoration-line: underline;
}

/************/
/* Settings */
/************/

.settings-cat {
	text-align: left;
	margin: 0;
}

.settings-cat summary {
	background-color: var(--primary-color);
  user-select: none;
	padding: 15px;
	cursor: pointer;
  font-weight: bold;
}

select#theme {
  border: solid 1px white;
  margin-left: .5em;
  padding: 5px;
  background-color: transparent;
  color: white;
}

.settings-cat {
  border-bottom: solid 1px white;
}  

.carrier-note {
  margin: .5em 1em;
  padding: 10px;
  border: solid 1px white;
}

.carrier-note div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrier-note div p {
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.carrier-note h4 {
  margin: 0;
}

.carrier-note > p {
  margin: 7.5px 0 0 0;
}

.no-notes {
  padding: .5em 1em;
}

.settings-cat div.appearance {
  display: flex;
  align-items: center;
  margin: .5em 1em;
}

.settings-cat div p {
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  user-select: none;
  font-size: .8rem;
}

/********************/
/* Add carrier form */
/********************/

.form-title {
  text-align: center;
  
}

.add-carrier-form {
  margin: 0 auto;
}

.add-carrier-form > div {
  width: 85%;
  margin: auto auto;
}


.add-carrier-form div label {
  font-weight: bold;
  display: inline-block;
  margin: 10px 0 0 0;
  user-select: none;
}

.add-carrier-form p {
  user-select: none;
  margin: 0 0 10px 0; 
  font-size: .8em;
  font-weight: light;
  color: rgba(255, 255, 255, .7);
}

.add-carrier-form div input[type="text"], .add-carrier-form div input[type="url"]  {
  border: solid 1px var(--third-color);
	background-color: var(--secondary-color);
	color: white;
  display: block;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 3px;
  font-size: 1em;
  width: 100%;
}

.add-carrier-form div input[type="text"]:focus, .add-carrier-form div input[type="url"]:focus {
  outline: solid 1px #fff;
}

.add-carrier-form div div > input[type="button"] {
  width: 100%;
  margin: 5px 0;
}

.add-carrier-form .carrier-phone-list > div {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 10px;
  justify-content: center;
}

.form-list-phone-numbers {
  display: flex;
  align-items: center;
}

.add-carrier-form .form-list-phone-numbers .list-item {
  border-right: none;
}

.add-carrier-form .form-list-phone-numbers .list-item:focus {
  outline: solid 1px #fff;
}

.form-list-links {
  display: flex;
  align-items: center;
}

.form-list-links input.link-text[type="text"] {
  width: 65%;
  border-right: none;
}

.form-list-links .link-url {
}

/*********/
/*  Misc */
/*********/

.button-normal {
	border: solid 1px var(--secondary-color);
	background-color: var(--fourth-color);
	color: white;
	padding: 5px 10px;
	cursor: pointer;
}

.button-normal:hover {
  border: solid 1px #fff;
}

.wip-banner {
  position: absolute;
  width: 150px;
  text-align: center;
  bottom: 0;
  left: -50px;
  background-color: var(--secondary-color);
  transform: rotateZ(45deg);
}

.modal {
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.modal div {
  padding: 10px 10px;
}

.modal h1 { text-align: center ;}

.modal button {
  width: 100%;
}

.modal p {
  padding: 10px 20px;
}

.modal label, .modal input[type="checkbox"] {
  cursor: pointer;
}

/* Disclaimer modal styling */

.disclaimerModal h5 {
  margin-bottom: 5px;
}