:root {
  --primary-color: #0F7BDC;
  --secondary-color: #3293EA;
  --third-color: #57A9F2;
  --fourth-color: #7FBEF7;
  --fifth-color: #B0D8FB;
}

body, html {
  height: 100%;
}

body {
	background-color: var(--primary-color);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	min-width: 500px;
	min-height: 350px;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a {
  color: white;
}

.button-normal {
	border: solid 3px #185386;
	background-color: #3888cf;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
}

.icon {
  width: 48px;
  margin: 10px;
  user-select: none;
  -moz-user-drag: none;
}


#noteText {
	border: solid 3px var(--third-color);
	background-color: var(--secondary-color);
	width: 250px;
	padding: 5px;
  margin-bottom: 100px;
  letter-spacing: 0px;
	font-size: 1.2em;
	margin-top: 5em;
	color: white;
}

#searchText::placeholder {
	color: rgb(255, 255, 255);
	opacity: .8;
  font-size: 1rem;
	text-transform: none;
	font-weight: 500;
}

#searchText {
	border: solid 5px var(--third-color);
	background-color: var(--secondary-color);
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

#searchText:focus {
  outline: solid 1px;
  outline-offset: -1px;
  border-radius: 0;
}

.search {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search > div {
  width: 100%
}

.search .search-type {
	width: 50%;
	padding: 5px;
	border: none;
	background-color: #0f5897;
	color: white;
	cursor: pointer;
}

.search .search-type:focus {
  outline: solid 1px;
  outline-offset: -1px;
  border-radius: 0;
}

.search .search-type.active {
	background-color: var(--third-color);
  font-weight: bold;
  cursor: default;
}

.search .search-results {
  display: flex;
  justify-content: center;
  text-align: center;
}

.report-issue {
	position: fixed;
	bottom: 70px;
	left: 10px;
}

/* Settings */

.settings-cat {
	text-align: left;
	margin: 0;
}

.settings-cat summary {
	background-color: var(--secondary-color);
  user-select: none;
	padding: 10px;
	cursor: pointer;
}
